*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.card{
  width: 21.5rem;
  height: 24rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.card .top{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}
.card img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.4rem;
  border: 1px solid #dadada;
}
.card button{
  height: 30px;
  padding: 2px 10px;
  font-size: 13px;
  color: #8f8f8f;
  border: 1px solid #d2d1d1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center{
  padding: 1.2rem 0;
  line-height: 1.8rem;
  padding-bottom: 6rem;
}
.center h2{
  font-size: 1rem;
}
.center span{
  font-size: 0.7rem;
  color: #b3b2b2;
  font-weight: 500;
}
.center h1{
  font-size: 1.3rem;
}
.center .tags{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
.tags h3{
  font-size: 0.8rem;
  font-weight: bold ;
  color: #000000b2;
  padding: 0px 14px;
  background-color: #e6e4e4;
  text-align: center;
  border-radius: 0.4rem;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d4d3d3;
  padding-top: 2rem;
}
.bottom .salary{
  line-height: 1.5rem;
}
.salary h1{
  font-size: 1.2rem;
}
.salary h6{
  color: #8f8f8f;
}
.bottom button{
  background-color: black;
  color: white;
  font-size: 0.9rem;
  padding: 0 15px;
}