*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
.cont{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1.8rem;
}
.cards{
  width: 20vw;
  height: auto;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  padding: 1.8rem 1rem;
  position: relative;
  border-radius: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards img{
  object-fit: cover;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.cards h1{
  margin: 1.2rem;
  background-color: #222;
}
.cards p{
  font-size: 1.2rem;
  text-align: center;
  background-color: #222;
}