*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

.home{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 3vw;
}
.counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  width: 28vw;
  height: 15vh;
  background-color: orange;
  border-radius: 1vw;
}
.counter i{
  font-size: 2.5vw;
  background-color: rgb(254, 194, 81);
  height: 100%;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
}
.active{
  border: #fe581b;
  box-shadow: 0 0 8px #fe581b;
}
.num-show{
  font-size: 4vw;
}
button{
  padding: 1vw;
  width: 18vw;
  height: 15vh;
  background-color: #3dabea;
  border-radius: 1vw;
  font-size: 4vw;
  border: #3dabea;
}
.btn-effect{
  border: #9090fa;
  box-shadow: 0 0 10px #9090fa;
}